section {
    padding: 55px 0;
}

.intro-text {
    text-align: center;
}

#orit {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#frs {
    width: 310px;
    height: 257px; 
}

#zig {
    background-color: white;
    width: 310px;
    height: 257px;
}

#portfolio {
    background-color: rgb(0,133,130);
    padding: 55px 0;
    padding-bottom: 80px;
}

#me {
    background-color: rgb(0,133,130);
    padding-top: 150px;
    padding-bottom: 100px;

}

#mainNav {
    background-color: rgb(42,62,81);
    padding: 15px 0;
}

.footer-above {
    background-color: rgb(42,62,81);
    padding: 100px 0;
}

.footer-below {
    background-color: #1a252f;
    padding: 25px 0;
    color: white;
}

#send {
    background-color: rgb(0,133,130);
}

.navbar-default {
    border-color: rgb(42,62,81);
}

.img-responsive {
    margin-bottom: 30px;
    margin-left: 25px;
}

#burger {
    width: 310px;
    height: 257px;
}

#portfolioHead {
    color: white;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 60px;
}

#aboutHead {
    color: rgb(42,62,81);
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 60px; 
}

#about {
    padding-bottom: 80px;
}

#contactHead {
    color: rgb(42,62,81);
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 50px; 
}

.links {
    color: white !important;
    font-size: 20px;
}

#navName {
    font-size: 30px;
}

.name {
    font-size: 80px;
    font-weight: 700;
    color: white;
}

.skills {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.fa-facebook-f:before, .fa-facebook:before {
    font-size: 30px;
    color: white;
}

.fa-instagram:before {
    font-size: 30px;
    color: white;
}

.fa-linkedin:before {
    font-size: 30px;
    color: white;
}

.fa-github:before {
    font-size: 30px;
    color: white;
}

.fa-stack-overflow:before {
    font-size: 30px;
    color: white;
}

.icon {
    margin-left: 5px;
    margin-right: 5px;
}

#social {
    color: white;
    margin-bottom: 30px;
    font-size: 30px;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border:4px solid rgb(42,62,81);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-item:hover .image {
  opacity: 0.3;
}

.portfolio-item:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgb(42,62,81);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

form {
    margin: 2em 0;
  }

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
  }

  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
  }
  
  input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
  
  label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(42,62,81);
  }

  input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }
 
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }


